<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>Add Entry</title>
</head>
<body>
<h2>Add entry</h2>
<form th:action="@{/addToList}" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>
    <br>

    <label for="address">Address:</label>
    <input type="text" id="address" name="address" required>
    <br>

    <label for="phone">Phone:</label>
    <input type="text" id="phone" name="phone" required>
    <br>

    <label for="email">Email:</label>
    <input type="text" id="email" name="email">
    <br>

    <label for="site">Site:</label>
    <input type="text" id="site" name="site">
    <br>

    <label for="category">Category:</label>
    <select id="category" name="category" required>
        <option value="">Select category</option>
        <option value="Grocery">Grocery</option>
        <option value="Hardware">Hardware</option>
        <option value="Sport">Sport</option>
    </select>
    <br>

    <label for="description">Description:</label>
    <input type="text" id="description" name="description">
    <br>

    <button type="submit">Add</button>
</form>
</body>
</html>